@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    /* Color Variables */
    --background: #dfdfdf;
    --black: #050315;
    --primary-color: #aa191e;

    /* Font Variables */
    font-family: 'Inter', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

body {
    background-color: var(--background);
    width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;      
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo {
    font-size: 1.5em;
    font-weight: var(--font-bold);
}

.menu {
    list-style: none;               
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;              
}

.menu a {
    text-decoration: none;         
    padding: 8px 12px;              
    color: var(--black);   
    position: relative;                 
}

/* Create the circle */
.menu a::before {
    content: "";                           
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 60px;                            
    height: 40px;                           
    border: 1px solid #050315;                 
    border-radius: 90%;                     
    z-index: -1; /* Puts it behind the text */
}

.menu a:hover {
    color: var(--primary-color);                 
}


.container {
    display: grid;
    place-items: center;
    padding: 50px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: var(--font-bold);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 25px;
}

.outlined-text {
    color: var(--background);
    -webkit-text-stroke: 1px var(--black);  
}

p {
    font-weight: var(--font-regular);
    font-style: italic;
    text-align: center;
}

.btn {
    padding: 10px;
    margin: 10px;
}

button {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--background);
    font-weight: var(--font-bold);
    padding: 0.8rem;
    border-radius: 5px;
}

button:hover {   
    cursor: pointer;
    box-shadow: rgba(20, 20, 20, 0.3) 0px 0px 0px 3px;
}


img {
    height: 300px;
}

.carousel {
    position: relative;
    padding-bottom: 10px;
}
      
.carousel__item {
    height: 100%;
    padding: 1em;
    font-weight: var(--font-medium);
    font-style: italic;
    font-size: 1em;
    text-align: center;
    color: var(--black);
    padding-bottom: 20px;
    display: none;
}
      
.carousel__item--selected {
display: block;
}

.carousel__nav {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
}

.carousel__button {
width: 10px;
height: 10px;
display: inline-block;
background: rgba(29, 27, 27, 0.2);
border-radius: 50%;
margin: 0 5px;
cursor: pointer;
}

.carousel__button--selected {
background: rgba(255, 254, 254, 0.873);
}