@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Variables */
    --background: #dfdfdf;
    --black: #050315;
    --primary-color: #aa191e;

    /* Font Variables */
    font-family: 'Inter', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

body {
    background-color: var(--background);
    width: 100%;
    overflow-x: hidden;
    height: 100%;               
    display: flex;
    flex-direction: column;
}

.content {
    min-height: 99vh;
    
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;      
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo {
    font-size: 1.2em;
    font-weight: var(--font-bold);
}

.menu {
    list-style: none;               
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;              
}

.menu a {
    text-decoration: none;         
    padding: 8px 12px;              
    color: var(--black);   
    position: relative;                 
}

/* Create the circle */
.menu a::before {
    content: "";                           
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 60px;                            
    height: 40px;                           
    border: 1px solid #050315;                 
    border-radius: 90%;                     
    z-index: -1; /* Puts it behind the text */
}

.menu a:hover {
    color: var(--primary-color);                 
}

.footer {
    width: 100%;
    height: auto;
    background-color: #282727;
    display: flex;          
    align-items: center;      
    justify-content: center;  
    gap: 20px;                
    color: whitesmoke;   
    position: relative;
    bottom: 0; 
}

.container, .result-container {
    display: grid;
    place-items: center;
    padding: 50px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}

h1 {
    font-weight: var(--font-bold);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 15px;
}

.outlined-text {
    color: var(--background);
    -webkit-text-stroke: 1px var(--black);  
}

.btn {
    margin: 10px;
    padding-top: 20px;
}

.start-button {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--background);
    font-weight: var(--font-bold);
    font-size: medium;
    padding: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
}

.start-button:hover {   
    cursor: pointer;
    box-shadow: rgba(20, 20, 20, 0.3) 0px 0px 0px 3px;
}

.start-button:active {
    background-color: rgb(20, 20, 20);
}

img {
    height: 300px;
    padding-top: 0;
}

.header1 {
    padding-bottom: 0;
}

.carousel {
    position: relative;
    padding-bottom: 2px;
}
      
.carousel__item {
    height: 100%;
    padding: 1em;
    font-weight: var(--font-medium);
    font-style: italic;
    font-size: 1em;
    text-align: center;
    color: var(--black);
    padding-bottom: 20px;
    display: none;
}
      
.carousel__item--selected {
display: block;
}

.carousel__nav {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
}

.carousel__button {
width: 10px;
height: 10px;
display: inline-block;
background: rgba(29, 27, 27, 0.2);
border-radius: 50%;
margin: 0 5px;
cursor: pointer;
}

.carousel__button--selected {
background: rgba(255, 254, 254, 0.873);
}

/* Quiz content */
.quiz-container {
    display: grid;
    place-items: center;
    padding: 50px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;                     
}

.question {
    align-items: center;
}
.header1, h3 {
    font-weight: var(--font-bold);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    margin-top: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.option img {
    width: 200px;
    height: 200px;
    border-radius: 8px; 
    transition: transform 0.2s ease-in-out;
}

.option img:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.option img:active {
    box-shadow: rgba(20, 20, 20, 0.3) 0px 0px 0px 3px;
}

figcaption {
    margin-top: 15px;
    font-size: small;
    font-weight: var(--font-medium);
    color: var(--black); 
}

/* Results page */
.results {
    text-align: center;
}

.results > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding: 20px;
    font-weight: var(--font-medium);
    font-size: medium;
}

.btn {
    padding-bottom: 40px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

    figcaption {
        margin-top: 5px;
    }

    .menu li {
        display: block; 
        margin-bottom: 10px;
    }

    .menu a::before {
        width: 60px; 
        height: 40px;
    }

    h1 {
        font-size: 2rem;
        padding: 10px;
    }

    h3, .header1 {
        font-size: 1.5rem;
    }

    .start-button {
        font-size: 0.9rem;
        height: 40px;
    }

    .options-grid {
        grid-template-columns: 1fr; /* Display one column on mobile */
        gap: 10px;
    }

    .option img {
        width: 60%; 
        height: auto;
    }

    
    .carousel__button {
        width: 8px;
        height: 8px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer_txt {
        margin-bottom: 20px;
    }
    
    .spotify {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    /* Further adjustments for mobile screens */
    .logo {
        font-size: 1em;
    }

    .header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3, .header1 {
        font-size: 1.2rem;
    }

    
    .container, .quiz-container, .result-container {
        padding: 20px;
    }


    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer_txt {
        margin-bottom: 10px;
    }
}